
<ion-header>
  <ion-navbar text-center color="headerBg">
    <ion-title>注册</ion-title>
  </ion-navbar>
</ion-header>


<ion-content id="register">
  <ion-list>
    <ion-item class="one-select">
      <ion-label>注册类型</ion-label>
      <ion-select [(ngModel)]="type" okText="确认" cancelText="取消">
        <ion-option >公司</ion-option>
        <ion-option >个人</ion-option>
      </ion-select>
    </ion-item>
    <div class="phoneNum">
      <ion-item>
        <ion-label stacked>手机号码</ion-label>
        <ion-input type="number" [(ngModel)]="phone"></ion-input>
      </ion-item>
      <span class="code" (click)="sendCode()" *ngIf="!getCode">获取验证码</span>
      <span class="code" *ngIf="getCode">{{second}}s后重新获取</span>
      <p class="tip" *ngIf="hasSend"><i> * </i>短信已发送，请输入收到的短信验证码 </p>
      <p class="tip" *ngIf="err"><i> * </i>您的号码输入有误,请检查</p>
    </div>
    <ion-item>
      <ion-label stacked>短信验证码</ion-label>
      <ion-input type="number" [(ngModel)]="code"></ion-input>
    </ion-item>
    <ion-item class="btn">
      <button ion-button full large color="{{phone && code?'loginBtn':'thinGrey'}}" (click)="next(type,phone,code)">
        下一步
      </button>
    </ion-item>
  </ion-list>
</ion-content>
