page-task-check {
  .toolbar-background-ios {
    border-style: none !important;
  }
  #content {
    .item-ios,
    .item-md {
      padding: 0px;
      .item-inner {
        padding-left: 14px;
        border-bottom: 0.2px solid #eeecf5;
      }
      &.noBBottom .item-inner {
        border-bottom: none;
        .label {
          margin: 0px;
        }
      }
    }
    .list {
      margin-bottom: 0px;
    }
    ion-item {
      &.borrow-auditopinon {
        border-bottom: 0px;
      }
    }
    .expl {
      width: 100%;
      height: 7rem;
      border: none;
      padding: 1rem 0;
      font-size: 16px;
      color: #999;
    }
    .marginTop-10,
    h3 {
      font-size: 17px;
    }
    .bg {
      img {
        width: 100%;
        max-height: 337px;
      }
    }
    p.tip {
      color: #999999;
      text-align: center;
    }
    .voice {
      display: flex;
      justify-content: center;
      .mi {
        width: 90px;
        height: 90px;
        background: linear-gradient(to top, #5c57e5, #12beff);
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon {
          font-size: 52px;
        }
      }
    }
  }
}
