<ion-header>

  <ion-navbar color="primary" no-border-bottom>
    <ion-title>任务详情</ion-title>
    <my-back text="返回" *ngIf="tab" (click)="closeModal()"></my-back>
  </ion-navbar>
</ion-header>

<ion-content id="detail">
  <div class="incident-page">
    <ion-list>
      <ion-item>
        <ion-thumbnail class="avatar" item-start>
          <img src="assets/imgs/usertitle.png">
        </ion-thumbnail>
        <h2>{{taskDetails.execute}}
          <span>{{taskDetails.executeDepart}}</span>
        </h2>
        <p>{{taskDetails.createTime}}</p>
        <a item-right class="status">执行中</a>
      </ion-item>
      <ion-item class="leave">
        <p class="task-text">
          {{taskDetails.content}}
        </p>
      </ion-item>
      <ion-item>
        <p class="time-add">
          <ion-icon name="my-time" color="askforleave" class="cale"></ion-icon>
          <ion-note>开始时间：
            <span>{{taskDetails.startTime}}</span>
          </ion-note>
        </p>
        <p class="time-add">
          <ion-icon name="my-time" color="askforleave" class="cale"></ion-icon>
          <ion-note>结束时间：
            <span>{{taskDetails.endTime}}</span>
          </ion-note>
        </p>
      </ion-item>
    </ion-list>
    <div class="progress">
      <ion-list>
        <ion-item>
          <ion-label class="text-detail">合同外部项目名称</ion-label>
          <ion-label>{{taskDetails.project}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="text-detail">内部项目名称</ion-label>
          <ion-label>{{taskDetails.innerProject}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="text-detail">项目表</ion-label>
          <ion-label>{{taskDetails.table}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="text-detail">任务类型</ion-label>
          <ion-label>{{taskDetails.taskType | work}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="text-detail">优先级</ion-label>
          <ion-label>{{taskDetails.priority}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="text-detail">所需时长</ion-label>
          <ion-label>{{taskDetails.needTime}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="text-detail">实际时长</ion-label>
          <ion-label>{{taskDetails.actualTime1}}小时</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="text-detail">任务备注</ion-label>
          <ion-label>{{taskDetails.remark}}</ion-label>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="taskDetails.taskStatus == 'TOBEAUDITED'">
        <ion-item>
          <ion-label class="text-detail">关联任务</ion-label>
          <ion-label>无</ion-label>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="none">
        <ion-item>
          <p>2017-08-15</p>
          <p class="sound">语音审核：
            <span>通过</span>
          </p>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>

<ion-footer *ngIf="taskDetails.taskStatus == 'DOING'">
  <ion-toolbar color="bgColor" id="footer-btn">
    <div class="check isfinsh">
      <a ion-button class="email-btn" color="white" (click)="getFinished()">
        <ion-icon name="my-finsh" color="primary" class="mail"></ion-icon>
        确认完成
      </a>
      <a ion-button class="email-btn" color="white" (click)="unFinished()">
        <ion-icon name="my-close" color="pink" class="mail"></ion-icon>
        未完成
      </a>
    </div>
  </ion-toolbar>
</ion-footer>
